blueness
abcli
abadpour
blue_plugin
blue_geo
blueflow
blue_stability
articraft
boto3
ferfereh
gizai
hubblescope
numpy
openai_commands
pymysql
pyyaml
pylint
pytest
python-dotenv[cli]
roofAI
tqdm
vancouver_watching